[general]
callsign=CHANGEME
logfile=PacketRadioMessenger.log
loglevel=INFO

[DummyTNC]
enabled=False

[KenwoodTNC]
enabled=False
device=/dev/ttyUSB0
devicebaud=9600
bytesize=8
parity=N
stopbits=1
xonxoff=False
rtscts=False
dsrdtr=False
exclusive=True

[TNC7multi]
enabled=False
device=/dev/ttyUSB0
devicebaud=115200
bytesize=8
parity=N
stopbits=1
xonxoff=False
rtscts=False
dsrdtr=False
exclusive=True
