[general]
callsign=CHANGEME
logfile=PacketRadioMessenger.log
loglevel=INFO

[DummyTNC]
enabled=False

[KenwoodTNC]
enabled=False
device=/dev/ttyUSB0
portbaud=9600
bytesize=8
parity=N

[TNC7multi]
enabled=False
device=/dev/ttyUSB0
portbaud=115200
bytesize=8
parity=N
